{% extends 'base.html.twig' %}
{% block title %}Espace Médecin{% endblock %}
{% block body %}
<div class="card text-center">
  <div class="card-header">
  <h1>Communications</h1>
  </div>
  <div class="card-body">
    <h5 class="card-title">Communication entre patient et corps médical</h5>
    <p class="card-text"></p>
    <a href="doctor/1" class="btn btn-primary">Vos patients</a><br><br><hr>
    <a href="patient/1" class="btn btn-primary">Votre corps médical</a>
  </div>
</div>

{% endblock %}